<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <resource-bundle>
    <base-name>messages</base-name>
    <var>bundle</var>
  </resource-bundle>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.lnko.controller.filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SessionLocaleFilter</filter-name>
    <filter-class>com.lnko.controller.filters.SessionLocaleFilter</filter-class>
    <init-param>
      <param-name>lang</param-name>
      <param-value>en</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SessionLocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.lnko.controller.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.lnko.controller.filters.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

</web-app>
